*{margin: 0;
  padding: 0;
  font-family: sans-serif, arial, verdana;
 }

.mainheading{
  background:url("../images/banner-image.jpg") no-repeat;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 20px;
  width: 1500px;
  height:150px;
  margin-left: 10px;
  margin-right: 10px;
  }
.ph2{
  margin-left: 100PX;
  font-family: sans-serif, Arial, Verdana;
  font-size: 20px;
  font-style: italic;
  }
.ph1{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 100PX;
  font-family: sans-serif, Arial, Verdana;
  font-size: 50px;
  }

.main-nav{
  background-color: #d9d9d9;
  align-content: center;
  width: 1500px;
  height: 50px;
  margin-left: 10px;
 padding-top: 25px;
 /*position:sticky;*/

}
.main-nav ul{

  margin-left: 50px;
  align-content: center;
  overflow: auto;
  list-style-type: none;
  }
.main-nav ul li{
  height:20px;
  float: left;
  margin-right: 0;
  border-right: 1px solid #aaa;
  padding: 0 20px;
  }
  .main-nav ul li a{
    text-decoration: none;
    color: #666;
    }

  .main-nav li a:hover{
    color: #aaa;
  }

  .oneheading{
    color: #00ace6;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 17px;
  }
.secondheading{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

  .highlighted{
    color: #00ace6;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .sidebarpic{
  margin-top: 20px;
  }
  .side-content{
   margin-top: 50px;
   margin-left: 5px;
   margin-right: 50px;
   margin-bottom: 30px;
   max-width: 500px;
   float:right;

  }
  .content-box1{
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-right: 25px;
    /*border-style:dashed;*/
    max-width: 700px;
    float:left;
  }

  .para-text{
    margin-top: 20px;
    font-size: 14px;
  }
  .clear{
    clear: both;
  }
  .sidebar{
    float : right;
    margin-left: 25px;
    margin-right: 50px;
  }



.footer-main{
  width: 1500px;
  height: 200px;
  margin-right: 10px;
  margin-left: 10px;
  background:url("../images/footer-image.jpg") no-repeat;
  color: #ffffff
}
.footer-text{
  text-align: center;
  color: white;
  margin-top: 15px;

}
.footer-main ul{
margin-top: 15px;
  margin-left: 50px;
  align-content: center;
  overflow: auto;
  list-style-type: none;
  margin-left: 500px;
  }
.footer-main li{
  height:20px;
  float: left;
  margin-right: 0;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
  .footer-main li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    }

  .logo{
    margin-left: 600px;
    }

  .link{
     margin-bottom: 20px;
    }

  .link a{
  text-decoration: none;
  font-size: 14px;
  color: #00ace6;
   font-weight: bold;
 }

  .footer-main li a:hover{
    color:  #aaa;
  }
